name: Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: usman3262
          template: terminal
          base: header, activity, community, repositories
          config_timezone: Asia/Karachi
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_isocalendar: yes
          plugin_achievements: yes
          plugin_lines: yes
          plugin_stars: yes
